
@{
    ViewBag.Title = "Unauthorized";
}

<body>
    <ul class="breadcrumb push-down-0">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li class="active">UnAuthorized</li>
    </ul>
    <!-- END BREADCRUMB -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="error-container">
                    <div class="error-code">UnAuthorized</div>
                    <div class="error-text">You don't have the permissions to access this page.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
    <!-- END PAGE CONTAINER -->
    <!-- MESSAGE BOX-->
</body>




